 <!DOCTYPE html>
<html>
<head>
    <title>Classification Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Classification Result</h1>
        <img src="{{ image_path }}" width="300">
        <h3>Predicted Tumor Type: {{ pred_class }}</h3>
        <h4>Confidence: {{ confidence }}%</h4>

        <canvas id="probChart" width="400" height="200"></canvas>

        <a href="{{ url_for('segmentation') }}"><button>Segmentation</button></a>
    </div>

    <script>
        const ctx = document.getElementById('probChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ class_labels|safe }},
                datasets: [{
                    label: 'Confidence (%)',
                    data: {{ probs|safe }},
                    backgroundColor: 'skyblue'
                }]
            }
        });
    </script>
</body>
</html>

